iot.json
[{"id":"8844fdad.c4598","type":"exec","z":"909e3bc5.6dc388","command":"/root/aircon.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"aircon.sh","x":1180,"y":500,"wires":[["c24884a4.0b2498"],[],[]]},{"id":"eaac4979.47caf8","type":"change","z":"909e3bc5.6dc388","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":380,"wires":[["8844fdad.c4598"]]},{"id":"6bdbd9d5.302ae8","type":"switch","z":"909e3bc5.6dc388","name":"スイッチの種類","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"GetTargetTemperatureRequests","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":718,"y":506,"wires":[["eaac4979.47caf8"],["5cd2f7eb.ce9bf8"],["8844fdad.c4598"],["c241678.4b82498"],["3c8dde29.157bd2"],[]]},{"id":"5cd2f7eb.ce9bf8","type":"change","z":"909e3bc5.6dc388","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":440,"wires":[["8844fdad.c4598"]]},{"id":"c241678.4b82498","type":"change","z":"909e3bc5.6dc388","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":540,"wires":[["8844fdad.c4598"]]},{"id":"3c8dde29.157bd2","type":"change","z":"909e3bc5.6dc388","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":600,"wires":[["8844fdad.c4598"]]},{"id":"d2ddf319.d11b4","type":"inject","z":"909e3bc5.6dc388","name":"","topic":"","payload":"電源ONボタン","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["fd3b68e9.bf8b88"]]},{"id":"fd3b68e9.bf8b88","type":"change","z":"909e3bc5.6dc388","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"TurnOnRequest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":400,"wires":[["6bdbd9d5.302ae8"]]},{"id":"814185ee.637c68","type":"inject","z":"909e3bc5.6dc388","name":"","topic":"","payload":"電源OFFボタン","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["4604f5c3.fa581c"]]},{"id":"4604f5c3.fa581c","type":"change","z":"909e3bc5.6dc388","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"TurnOffRequest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":460,"wires":[["6bdbd9d5.302ae8"]]},{"id":"27f72a1a.485a46","type":"inject","z":"909e3bc5.6dc388","name":"","topic":"","payload":"温度上げる","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":520,"wires":[["f6afc9d6.0d7178"]]},{"id":"f6afc9d6.0d7178","type":"change","z":"909e3bc5.6dc388","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"IncrementTargetTemperatureRequest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":520,"wires":[["6bdbd9d5.302ae8"]]},{"id":"f61eb6c0.d2ac58","type":"inject","z":"909e3bc5.6dc388","name":"","topic":"","payload":"温度下げる","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":580,"wires":[["fd0d3407.147c38"]]},{"id":"fd0d3407.147c38","type":"change","z":"909e3bc5.6dc388","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"DecrementTargetTemperatureRequest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":580,"wires":[["6bdbd9d5.302ae8"]]},{"id":"c24884a4.0b2498","type":"json","z":"909e3bc5.6dc388","name":"","property":"payload","action":"","pretty":true,"x":1350,"y":500,"wires":[["aa9954e2.35ad08"]]},{"id":"fab246a1.d57908","type":"function","z":"909e3bc5.6dc388","name":"温度下げた旨のメッセージ","func":"msg.payload = \"設定温度を\"+msg.payload.temp+\"度に下げたが\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":620,"wires":[["2e7434f9.e1d67c","3fdf469b.5c117a","4cd62603.cec9b8"]]},{"id":"2e7434f9.e1d67c","type":"discordSendMessage","z":"909e3bc5.6dc388","name":"ボットが発言する","channel":"308970029804945408","token":"","x":2530,"y":460,"wires":[]},{"id":"c99baddd.f6da1","type":"switch","z":"909e3bc5.6dc388","name":"discordの発言","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"エアコンつけて","vt":"str"},{"t":"cont","v":"エアコン消して","vt":"str"},{"t":"cont","v":"温度上げて","vt":"str"},{"t":"cont","v":"温度下げて","vt":"str"},{"t":"cont","v":"部屋の温度","vt":"str"},{"t":"cont","v":"電気つけて","vt":"str"},{"t":"cont","v":"電気消して","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":120,"y":280,"wires":[["fd3b68e9.bf8b88"],["4604f5c3.fa581c"],["f6afc9d6.0d7178"],["fd0d3407.147c38"],["b0592d69.d44fb"],["3dc3b2ab.d21e0e"],["4444ab70.da76d4"]]},{"id":"aa9954e2.35ad08","type":"switch","z":"909e3bc5.6dc388","name":"discord発言分岐","property":"command","propertyType":"msg","rules":[{"t":"cont","v":"TurnOnRequest","vt":"str"},{"t":"cont","v":"TurnOffRequest","vt":"str"},{"t":"cont","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"cont","v":"DecrementTargetTemperatureRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1540,"y":500,"wires":[["57fe523c.0d63cc"],["6645d676.721538"],["e825436a.f0a6b"],["fab246a1.d57908"]]},{"id":"e825436a.f0a6b","type":"function","z":"909e3bc5.6dc388","name":"温度上げた旨のメッセージ","func":"msg.payload = \"設定温度を\"+msg.payload.temp+\"度に上げたが\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":540,"wires":[["2e7434f9.e1d67c","3fdf469b.5c117a","f1f1e04e.3883d"]]},{"id":"6645d676.721538","type":"function","z":"909e3bc5.6dc388","name":"エアコン消した旨のメッセージ","func":"msg.payload = \"エアコン消しま～す\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":460,"wires":[["2e7434f9.e1d67c","3fdf469b.5c117a","676d2685.e03d08"]]},{"id":"57fe523c.0d63cc","type":"function","z":"909e3bc5.6dc388","name":"エアコンつけた旨のメッセージ","func":"msg.payload = \"エアコンつけたわ。設定温度は\"+msg.payload.temp+\"度になっとる\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":380,"wires":[["2e7434f9.e1d67c","3fdf469b.5c117a","3b99499a.4e5db6"]]},{"id":"427613f4.0861bc","type":"http request","z":"909e3bc5.6dc388","name":"NatureRemoのセンサー情報取得","method":"GET","ret":"obj","url":"https://api.nature.global/1/devices","tls":"","x":1040,"y":60,"wires":[["ae37d002.935a7"]]},{"id":"b0592d69.d44fb","type":"change","z":"909e3bc5.6dc388","name":"Nature Remo APIアクセス準備","rules":[{"t":"set","p":"headers.accept","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.Authorization","pt":"msg","to":"Bearer zcoyS_qswhZhhyPrhxdvUjWHrxaeDBviVZf7B26s-To.BSHoDs_NsMdaREIST9UFPlmm0EsaqbpRMQFHc2XrraQ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":60,"wires":[["427613f4.0861bc"]]},{"id":"ae37d002.935a7","type":"function","z":"909e3bc5.6dc388","name":"部屋の気温と湿度を告げる","func":"msg.payload = \"部屋の気温は\"+msg.payload[0]['newest_events']['te']['val']+\"度で、湿度は\"+msg.payload[0]['newest_events']['hu']['val']+\"%\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":60,"wires":[["2e7434f9.e1d67c","3fdf469b.5c117a","5d643511.48086c"]]},{"id":"205bcc2f.cbb1f4","type":"discordMessage","z":"909e3bc5.6dc388","name":"nagatani","token":"","x":100,"y":60,"wires":[["d6abe3a6.48ea3"]]},{"id":"d6abe3a6.48ea3","type":"switch","z":"909e3bc5.6dc388","name":"八木橋判定","property":"author","propertyType":"msg","rules":[{"t":"eq","v":"308968829462249473","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":110,"y":180,"wires":[["c99baddd.f6da1"]]},{"id":"3fdf469b.5c117a","type":"change","z":"909e3bc5.6dc388","name":"LaMetric APIアクセス準備","rules":[{"t":"set","p":"headers.Accept","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Access-Token","pt":"msg","to":"OTExNzI1YmI4YTE5ODA1YjJlY2RjMzY0YmYzNjdhNTUyNDQ4ZGVkOWZlZjdiYzIzNTc3YjA4MGIzZWViMmI2Mw==","tot":"str"},{"t":"set","p":"headers.Cache-Control","pt":"msg","to":"no-cache","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"frames\":[{\"text\":\"エアコンON\",\"icon\":\"i19177\",\"index\":0}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":620,"wires":[["7e776151.96a43"]]},{"id":"bbe2cd35.ef244","type":"http request","z":"909e3bc5.6dc388","name":"","method":"POST","ret":"txt","url":"https://developer.lametric.com/api/v1/dev/widget/update/com.lametric.116ff0621ebee021f2e5d85dea7db896/1","tls":"","x":2710,"y":620,"wires":[[]]},{"id":"7e776151.96a43","type":"function","z":"909e3bc5.6dc388","name":"LaMetricに表示","func":"msg.payload['frames'][0]['text'] = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":2500,"y":620,"wires":[["bbe2cd35.ef244"]]},{"id":"67943a2b.f83564","type":"alexa-home","z":"909e3bc5.6dc388","conf":"1dec1995.b0ba76","device":"19930","acknoledge":true,"name":"エアコン","topic":"","x":360,"y":660,"wires":[["6bdbd9d5.302ae8"]]},{"id":"55e63c32.026dc4","type":"alexa-home","z":"909e3bc5.6dc388","conf":"1dec1995.b0ba76","device":"20017","acknoledge":true,"name":"電気","topic":"","x":470,"y":120,"wires":[["b4e7ccb9.78ae9"]]},{"id":"e7419c27.cf14b","type":"nature-remo","z":"909e3bc5.6dc388","name":"Nature-Remoアクセス","token":"8e573fa7.66c68","appliances":"/root/memo.json","delay":100,"x":1220,"y":320,"wires":[[]]},{"id":"3dc3b2ab.d21e0e","type":"change","z":"909e3bc5.6dc388","name":"照明ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"commands\":[{\"nickname\":\"照明\",\"name\":\"オン\"}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":140,"wires":[["e7419c27.cf14b","925ec663.ab4b78"]]},{"id":"b4e7ccb9.78ae9","type":"switch","z":"909e3bc5.6dc388","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"eq","v":"-25","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":120,"wires":[["3dc3b2ab.d21e0e"],["4444ab70.da76d4"],["d9c7e294.0c62"]]},{"id":"4444ab70.da76d4","type":"change","z":"909e3bc5.6dc388","name":"照明OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"commands\":[{\"nickname\":\"照明\",\"name\":\"オフ\"}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":200,"wires":[["e7419c27.cf14b","3019aa21.6c6836"]]},{"id":"d9c7e294.0c62","type":"change","z":"909e3bc5.6dc388","name":"常夜灯","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"commands\":[{\"nickname\":\"照明\",\"name\":\"常夜灯\"}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":260,"wires":[["e7419c27.cf14b","6cd1d4c1.d24d2c"]]},{"id":"925ec663.ab4b78","type":"function","z":"909e3bc5.6dc388","name":"電気つけた旨のメッセージ","func":"msg.payload = \"おはよー！こんにちはー！\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":140,"wires":[["3fdf469b.5c117a","2e7434f9.e1d67c","c94b2ad1.40df98"]]},{"id":"3019aa21.6c6836","type":"function","z":"909e3bc5.6dc388","name":"電気消した旨のメッセージ","func":"msg.payload = \"今日も1日がんばるぞい！\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":200,"wires":[["3fdf469b.5c117a","2e7434f9.e1d67c","74da2218.aca8dc"]]},{"id":"6cd1d4c1.d24d2c","type":"function","z":"909e3bc5.6dc388","name":"常夜灯にした旨のメッセージ","func":"msg.payload = \"さて、おねんねの時間だ\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":260,"wires":[["3fdf469b.5c117a","2e7434f9.e1d67c","82c3faa6.5af5f8"]]},{"id":"730720b2.5c43c","type":"alexa-home","z":"909e3bc5.6dc388","conf":"1dec1995.b0ba76","device":"20028","acknoledge":true,"name":"センサー","topic":"","x":300,"y":60,"wires":[["b0592d69.d44fb"]]},{"id":"9891afdf.7103b","type":"twitter out","z":"909e3bc5.6dc388","twitter":"","name":"Tweet","x":3010,"y":140,"wires":[]},{"id":"4cd62603.cec9b8","type":"function","z":"909e3bc5.6dc388","name":"温度下げた旨のメッセージ","func":"msg.payload = \"Amazon EchoがNature-Remoで設定温度を\"+msg.payload.temp+\"度に下げたっぽい（Node-REDから送信）\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":2560,"y":300,"wires":[["9891afdf.7103b"]]},{"id":"f1f1e04e.3883d","type":"function","z":"909e3bc5.6dc388","name":"温度上げた旨のメッセージ","func":"msg.payload = \"Amazon EchoがNature-Remoで設定温度を\"+msg.payload.temp+\"度に上げたっぽい（Node-REDから送信）\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":2560,"y":260,"wires":[["9891afdf.7103b"]]},{"id":"676d2685.e03d08","type":"function","z":"909e3bc5.6dc388","name":"エアコン消した旨のメッセージ","func":"msg.payload = \"Amazon EchoがNature-Remoでエアコン消しました（Node-REDから送信）\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":2570,"y":220,"wires":[["9891afdf.7103b"]]},{"id":"3b99499a.4e5db6","type":"function","z":"909e3bc5.6dc388","name":"エアコンつけた旨のメッセージ","func":"msg.payload = \"Amazon EchoがNature-Remoでエアコンをつけました。設定温度は\"+msg.payload.temp+\"度らしい（Node-REDから送信）\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":2570,"y":180,"wires":[["9891afdf.7103b"]]},{"id":"c94b2ad1.40df98","type":"function","z":"909e3bc5.6dc388","name":"電気つけた旨のメッセージ","func":"msg.payload = \"Amazon EchoがNature-Remoで家の電気をつけました。（Node-REDから送信）\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":2560,"y":60,"wires":[["9891afdf.7103b"]]},{"id":"74da2218.aca8dc","type":"function","z":"909e3bc5.6dc388","name":"電気消した旨のメッセージ","func":"msg.payload = \"Amazon EchoがNature-Remoで電気を消しました。（Node-REDから送信）\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":2560,"y":100,"wires":[["9891afdf.7103b"]]},{"id":"82c3faa6.5af5f8","type":"function","z":"909e3bc5.6dc388","name":"常夜灯にした旨のメッセージ","func":"msg.payload = \"Amazon EchoがNature-Remoで常夜灯にしました。（Node-REDから送信）\";\nmsg.result = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":2560,"y":140,"wires":[["9891afdf.7103b"]]},{"id":"5d643511.48086c","type":"function","z":"909e3bc5.6dc388","name":"部屋の気温と湿度を告げる","func":"msg.payload = msg.result+\"（Node-REDから送信）\"\nreturn msg;","outputs":1,"noerr":0,"x":2560,"y":20,"wires":[["9891afdf.7103b"]]},{"id":"1dec1995.b0ba76","type":"alexa-home-conf","z":"","username":"pitekusu"},{"id":"8e573fa7.66c68","type":"nature-token","z":""}]