onani.json
[{"id":"529fd0ba.98eed8","type":"moment","z":"8c5ccb24.a09c08","name":"（日付）JST","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"ja_JP","output":"sdate","outputType":"msg","outTz":"Asia/Tokyo","x":390,"y":840,"wires":[["c83148a4.1a58c8","3d5648fe.1513c8"]]},{"id":"934af3d8.ef0b98","type":"inject","z":"8c5ccb24.a09c08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":840,"wires":[["529fd0ba.98eed8"]]},{"id":"c83148a4.1a58c8","type":"moment","z":"8c5ccb24.a09c08","name":"（曜日）JST","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd","locale":"ja_JP","output":"day_of_week","outputType":"msg","outTz":"Asia/Tokyo","x":610,"y":840,"wires":[["7ce1d424.77037c"]]},{"id":"a1d5acb6.86441","type":"function","z":"8c5ccb24.a09c08","name":"INSERTコマンド作成","func":"msg.payload =\n{\n    \"uid\" : msg.temp_seq,\n    \"sdate\": msg.sdate,\n    \"day_of_week\": msg.day_of_week\n}\nreturn msg;","outputs":1,"noerr":0,"x":1860,"y":820,"wires":[["3c72bbff.18abf4"]]},{"id":"3c72bbff.18abf4","type":"mongodb3 in","z":"8c5ccb24.a09c08","service":"_ext_","configNode":"d4588e1e.30404","name":"unagi","collection":"onani","operation":"insert","x":2170,"y":820,"wires":[["eec1bbfa.e58378"]]},{"id":"5c03bac8.aca934","type":"function","z":"8c5ccb24.a09c08","name":"オナニー時間算出","func":"var d1 = new Date(msg.edate);\nvar d2 = new Date(msg.payload[0]['sdate']);\nmsg.buf1 = msg.payload[0]['_id'];\nmsg.buf2 = msg.payload[0]['day_of_week'];\nmsg.buf3 = msg.payload[0]['sdate'];\nmsg.buf4 = msg.payload[0]['uid'];\n\n\nvar diffTime = d1.getTime() - d2.getTime();\nmsg.dtime = Math.floor(diffTime / (1000));\nreturn msg","outputs":1,"noerr":0,"x":1110,"y":140,"wires":[["7270c7fe.f64ff8"]]},{"id":"3d5648fe.1513c8","type":"function","z":"8c5ccb24.a09c08","name":"時間をグローバル変数として取得","func":"context.global.ObjID = msg.sdate; \nreturn context;","outputs":1,"noerr":0,"x":660,"y":960,"wires":[[]]},{"id":"1044129a.5b310d","type":"mongodb3 in","z":"8c5ccb24.a09c08","service":"_ext_","configNode":"d4588e1e.30404","name":"unagi","collection":"onani","operation":"find.toArray","x":890,"y":140,"wires":[["5c03bac8.aca934"]]},{"id":"18b483c6.332dfc","type":"function","z":"8c5ccb24.a09c08","name":"FINDコマンド発行","func":"msg.payload =\n{\n    \"sdate\": context.global.ObjID,\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":140,"wires":[["1044129a.5b310d"]]},{"id":"8223178f.9db768","type":"moment","z":"8c5ccb24.a09c08","name":"（日付）JST","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"ja_JP","output":"edate","outputType":"msg","outTz":"Asia/Tokyo","x":350,"y":140,"wires":[["18b483c6.332dfc"]]},{"id":"c639f809.7fe2a8","type":"mongodb3 in","z":"8c5ccb24.a09c08","service":"_ext_","configNode":"d4588e1e.30404","name":"unagi","collection":"onani","operation":"save","x":2950,"y":440,"wires":[[]]},{"id":"c6b9945d.3b6728","type":"function","z":"8c5ccb24.a09c08","name":"Updateコマンド","func":"msg.payload={\n\"_id\":msg.buf1,\n\"uid\":msg.buf4,\n\"day_of_week\" : msg.buf2,\n\"sdate\":msg.buf3,\n\"edate\" : msg.edate,\n\"dtime\" : msg.dtime,\n\"previoustime\" : msg.diffSecond,\n\"te\" : msg.sensor[0]['newest_events']['te']['val'],\n\"hu\" : msg.sensor[0]['newest_events']['hu']['val'],\n\"outte\" : msg.outtemp,\n\"weather\" : msg.weather\n}\nreturn msg;","outputs":1,"noerr":0,"x":2720,"y":440,"wires":[["c639f809.7fe2a8"]]},{"id":"90d7f587.cd3ec8","type":"inject","z":"8c5ccb24.a09c08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["8223178f.9db768"]]},{"id":"4c87b63f.5b45f8","type":"switch","z":"8c5ccb24.a09c08","name":"discordの発言","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"オナニー終了","vt":"str"},{"t":"cont","v":"オナニー開始","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1140,"y":600,"wires":[["8223178f.9db768"],["529fd0ba.98eed8"]]},{"id":"c3cc445b.79bdb8","type":"discordMessage","z":"8c5ccb24.a09c08","name":"nagatani","token":"","x":80,"y":580,"wires":[["90244299.7ed01"]]},{"id":"8cbb1f2b.29c5b","type":"discordSendMessage","z":"8c5ccb24.a09c08","name":"ボットが発言する","channel":"308970029804945408","token":"","x":3830,"y":580,"wires":[]},{"id":"eec1bbfa.e58378","type":"function","z":"8c5ccb24.a09c08","name":"オナニー開始メッセージ","func":"msg.payload = \"オナニーを開始しました！\\n開始時刻：\"+msg.sdate;\nreturn msg;","outputs":1,"noerr":0,"x":3030,"y":680,"wires":[["8cbb1f2b.29c5b","90823bbe.e0cae8"]]},{"id":"90823bbe.e0cae8","type":"twitter out","z":"8c5ccb24.a09c08","twitter":"","name":"Tweet","x":3850,"y":200,"wires":[]},{"id":"153ac4b6.3fb7fb","type":"alexa-home","z":"8c5ccb24.a09c08","conf":"1dec1995.b0ba76","device":"20343","acknoledge":true,"name":"データ","topic":"","x":90,"y":400,"wires":[["2acef192.f60cce"]]},{"id":"2acef192.f60cce","type":"switch","z":"8c5ccb24.a09c08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":400,"wires":[["8223178f.9db768"],["529fd0ba.98eed8"]]},{"id":"c95bfcc2.38a75","type":"http request","z":"8c5ccb24.a09c08","name":"NatureRemoのセンサー情報取得","method":"GET","ret":"obj","url":"https://api.nature.global/1/devices","tls":"","x":1080,"y":260,"wires":[["6a5b48b8.36cad8"]]},{"id":"7270c7fe.f64ff8","type":"change","z":"8c5ccb24.a09c08","name":"Nature Remo APIアクセス準備","rules":[{"t":"set","p":"headers.accept","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.Authorization","pt":"msg","to":"Bearer zcoyS_qswhZhhyPrhxdvUjWHrxaeDBviVZf7B26s-To.BSHoDs_NsMdaREIST9UFPlmm0EsaqbpRMQFHc2XrraQ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":220,"wires":[["c95bfcc2.38a75"]]},{"id":"6a5b48b8.36cad8","type":"change","z":"8c5ccb24.a09c08","name":"","rules":[{"t":"set","p":"sensor","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":300,"wires":[["82c5a902.7e1168"]]},{"id":"82c5a902.7e1168","type":"http request","z":"8c5ccb24.a09c08","name":"天気予報取得","method":"GET","ret":"obj","url":"https://api.darksky.net/forecast/d3911cdc4d1d6c9a997a848d4f83bcc7/35.646807,139.889291?lang=ja&units=si","tls":"","x":1020,"y":360,"wires":[["b6c182ca.90aac"]]},{"id":"b6c182ca.90aac","type":"function","z":"8c5ccb24.a09c08","name":"現在の天気を抜き出し","func":"msg.outtemp = msg.payload['currently']['temperature']\nmsg.weather = msg.payload['currently']['summary']\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":400,"wires":[["505c15a2.4043cc"]]},{"id":"8270bd1c.022f6","type":"mongodb3 in","z":"8c5ccb24.a09c08","service":"_ext_","configNode":"d4588e1e.30404","name":"ID番号更新","collection":"counters","operation":"save","x":1550,"y":820,"wires":[["a1d5acb6.86441"]]},{"id":"bbc84fcb.10443","type":"function","z":"8c5ccb24.a09c08","name":"SAVEコマンド発行","func":"msg.temp_seq = msg.payload[0]['uid']+1\n\nmsg.payload =\n{\n    _id: msg.payload[0]['_id'],\n    key: \"userid\",\n    uid: msg.temp_seq\n}\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":820,"wires":[["8270bd1c.022f6","d3a77d5a.e91d6"]]},{"id":"768b44dd.60ac9c","type":"mongodb3 in","z":"8c5ccb24.a09c08","service":"_ext_","configNode":"d4588e1e.30404","name":"counter検索","collection":"counters","operation":"find.toArray","x":1070,"y":820,"wires":[["bbc84fcb.10443"]]},{"id":"7ce1d424.77037c","type":"function","z":"8c5ccb24.a09c08","name":"FINDコマンド発行","func":"msg.payload =\n{\n    key: \"userid\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":820,"wires":[["768b44dd.60ac9c"]]},{"id":"505c15a2.4043cc","type":"function","z":"8c5ccb24.a09c08","name":"FINDコマンド発行し、一回前のオナニーを取得","func":"msg.payload =\n{\n    uid: context.global.uid-1\n}\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":400,"wires":[["4b74cae6.961494"]]},{"id":"d3a77d5a.e91d6","type":"function","z":"8c5ccb24.a09c08","name":"uidをグローバル変数として取得","func":"context.global.uid = msg.temp_seq; \nreturn context;","outputs":1,"noerr":0,"x":1610,"y":960,"wires":[[]]},{"id":"4b74cae6.961494","type":"mongodb3 in","z":"8c5ccb24.a09c08","service":"_ext_","configNode":"d4588e1e.30404","name":"unagi","collection":"onani","operation":"find.toArray","x":1710,"y":400,"wires":[["fe03c09.47e4d4"]]},{"id":"fe03c09.47e4d4","type":"function","z":"8c5ccb24.a09c08","name":"射精時刻を取り出す","func":"msg.old_edate = msg.payload[0]['edate'];\n\nreturn msg","outputs":1,"noerr":0,"x":1980,"y":400,"wires":[["581e722c.eafa24"]]},{"id":"581e722c.eafa24","type":"function","z":"8c5ccb24.a09c08","name":"前回からのオナニー時間計算","func":"var d1 = new Date(msg.buf3);\nvar d2 = new Date(msg.old_edate);\n\nmsg.diffTime = d1.getTime() - d2.getTime();\n\nmsg.diffSecond = Math.floor(msg.diffTime / (1000));\nmsg.diffMinite = Math.floor(msg.diffTime / (1000*60));\nmsg.diffHour = Math.floor(msg.diffTime / (1000*60*60));\nmsg.diffDay = Math.floor(msg.diffTime / (1000*60*60*24));\n\nreturn msg","outputs":1,"noerr":0,"x":2260,"y":400,"wires":[["41ef7b96.2ae1d4"]]},{"id":"6afbd7b8.efeeb","type":"switch","z":"8c5ccb24.a09c08","name":"1日未満のとき","property":"diffDay","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gte","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":2720,"y":400,"wires":[["2cddb5.2e13d24c"],["dbfeb51.25ebcc8"]]},{"id":"2cddb5.2e13d24c","type":"switch","z":"8c5ccb24.a09c08","name":"1時間未満のとき","property":"diffHour","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gte","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":2930,"y":260,"wires":[["4e524410.052a9c"],["ec1c9a2f.5f71a8"]]},{"id":"4e524410.052a9c","type":"switch","z":"8c5ccb24.a09c08","name":"1分未満のとき","property":"diffMinite","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gte","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":3220,"y":100,"wires":[["ebe0f227.4af13"],["7f03016c.89fee"]]},{"id":"41ef7b96.2ae1d4","type":"function","z":"8c5ccb24.a09c08","name":"表示時刻計算","func":"msg.resultDay = msg.diffDay\nmsg.resultHour = msg.diffHour - msg.diffDay*24\nmsg.resultMinite = msg.diffMinite - msg.diffHour*60\nmsg.resultSecond = msg.diffSecond - msg.diffMinite*60\n\nreturn msg;","outputs":1,"noerr":0,"x":2500,"y":400,"wires":[["6afbd7b8.efeeb","c6b9945d.3b6728"]]},{"id":"dbfeb51.25ebcc8","type":"function","z":"8c5ccb24.a09c08","name":"オナニー終了メッセージ","func":"msg.payload = \"射精しました！\\n★☆★結果発表☆★☆\\nオナニー時間：\"+msg.dtime+\"秒\\n室温：\"+msg.sensor[0]['newest_events']['te']['val']+\"℃\\n湿度：\"+msg.sensor[0]['newest_events']['hu']['val']+\"%\\n現在の天気：\"+msg.weather+\"\\n現在の気温：\"+msg.outtemp+\"℃\"+\"\\nオナ禁期間：\"+msg.resultDay+\"日\"+msg.result.Hour+\"時間\"+msg.resultMinite+\"分\"+msg.resultSecond+\"秒\\n★☆★☆★☆★☆★☆\"\n\nreturn msg;","outputs":1,"noerr":0,"x":3050,"y":400,"wires":[["90823bbe.e0cae8","8cbb1f2b.29c5b","b8f89895.d20b98"]]},{"id":"ec1c9a2f.5f71a8","type":"function","z":"8c5ccb24.a09c08","name":"オナニー終了メッセージ","func":"msg.payload = \"射精しました！\\n★☆★結果発表☆★☆\\nオナニー時間：\"+msg.dtime+\"秒\\n室温：\"+msg.sensor[0]['newest_events']['te']['val']+\"℃\\n湿度：\"+msg.sensor[0]['newest_events']['hu']['val']+\"%\\n現在の天気：\"+msg.weather+\"\\n現在の気温：\"+msg.outtemp+\"℃\"+\"\\nオナ禁期間：\"+msg.resultHour+\"時間\"+msg.resultMinite+\"分\"+msg.resultSecond+\"秒\\n★☆★☆★☆★☆★☆\"\n\nreturn msg;","outputs":1,"noerr":0,"x":3290,"y":260,"wires":[["90823bbe.e0cae8","8cbb1f2b.29c5b","b8f89895.d20b98"]]},{"id":"7f03016c.89fee","type":"function","z":"8c5ccb24.a09c08","name":"オナニー終了メッセージ","func":"msg.payload = \"射精しました！\\n★☆★結果発表☆★☆\\nオナニー時間：\"+msg.dtime+\"秒\\n室温：\"+msg.sensor[0]['newest_events']['te']['val']+\"℃\\n湿度：\"+msg.sensor[0]['newest_events']['hu']['val']+\"%\\n現在の天気：\"+msg.weather+\"\\n現在の気温：\"+msg.outtemp+\"℃\"+\"\\nオナ禁期間：\"+msg.resultMinite+\"分\"+msg.resultSecond+\"秒\\n★☆★☆★☆★☆★☆\"\n\nreturn msg;","outputs":1,"noerr":0,"x":3530,"y":100,"wires":[["90823bbe.e0cae8","8cbb1f2b.29c5b","b8f89895.d20b98"]]},{"id":"ebe0f227.4af13","type":"function","z":"8c5ccb24.a09c08","name":"オナニー終了メッセージ","func":"msg.payload = \"射精しました！\\n★☆★結果発表☆★☆\\nオナニー時間：\"+msg.dtime+\"秒\\n室温：\"+msg.sensor[0]['newest_events']['te']['val']+\"℃\\n湿度：\"+msg.sensor[0]['newest_events']['hu']['val']+\"%\\n現在の天気：\"+msg.weather+\"\\n現在の気温：\"+msg.outtemp+\"℃\"+\"\\nオナ禁期間：\"+msg.ressultSecond+\"秒\\n★☆★☆★☆★☆★☆\"\n\nreturn msg;","outputs":1,"noerr":0,"x":3530,"y":40,"wires":[["90823bbe.e0cae8","8cbb1f2b.29c5b","b8f89895.d20b98"]]},{"id":"b8f89895.d20b98","type":"function","z":"8c5ccb24.a09c08","name":"おかず選択メッセージ","func":"msg.payload = \"【おかずアンケート】\\nおかずにした対象は何ですか？\"\nreturn msg;","outputs":1,"noerr":0,"x":3900,"y":40,"wires":[["c3fdd19a.e8f39","8cbb1f2b.29c5b"]]},{"id":"692feec8.ed8cb","type":"switch","z":"8c5ccb24.a09c08","name":"おかず判定","property":"okazu","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":580,"wires":[["e18cbbc3.302288"],["4c87b63f.5b45f8"]]},{"id":"c3fdd19a.e8f39","type":"function","z":"8c5ccb24.a09c08","name":"おかず選択開始フラグ","func":"context.global.okazu = true\ncontext.global.kaitou1 = false\nreturn context","outputs":1,"noerr":0,"x":4220,"y":40,"wires":[[]]},{"id":"9cf8bab6.d381a8","type":"function","z":"8c5ccb24.a09c08","name":"グローバル変数おかず変数取得","func":"msg.okazu = context.global.okazu\nmsg.kaitou = context.global.kaitou1\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":580,"wires":[["692feec8.ed8cb"]]},{"id":"90244299.7ed01","type":"switch","z":"8c5ccb24.a09c08","name":"八木橋判定","property":"author","propertyType":"msg","rules":[{"t":"eq","v":"308968829462249473","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":580,"wires":[["9cf8bab6.d381a8"]]},{"id":"931fcf5d.a7497","type":"function","z":"8c5ccb24.a09c08","name":"おかず判定初期化","func":"context.global.okazu = false\ncontext.global.kaitou1 = false\nreturn context","outputs":1,"noerr":0,"x":2030,"y":720,"wires":[[]]},{"id":"79d56d39.05bba4","type":"function","z":"8c5ccb24.a09c08","name":"解答済みメッセージ","func":"msg.payload = \"【おかずアンケート2】\\nどんなシチュエーションで射精に至りましたか？\"\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":520,"wires":[["6f756bf4.c6bfe4","8cbb1f2b.29c5b"]]},{"id":"e18cbbc3.302288","type":"change","z":"8c5ccb24.a09c08","name":"おかず対象を変数に代入","rules":[{"t":"set","p":"ans","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":520,"wires":[["af66370e.b909e8"]]},{"id":"2ef4312d.7affee","type":"function","z":"8c5ccb24.a09c08","name":"解答済みメッセージ","func":"msg.genre = msg.ans\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":640,"wires":[["931fcf5d.a7497","8cbb1f2b.29c5b","c0445c1b.89b89"]]},{"id":"6f756bf4.c6bfe4","type":"function","z":"8c5ccb24.a09c08","name":"アンケート1解答済みフラグ","func":"context.global.kaitou1 = true\ncontext.global.chara = msg.ans\nreturn context","outputs":1,"noerr":0,"x":2140,"y":460,"wires":[[]]},{"id":"67692fb2.55a74","type":"switch","z":"8c5ccb24.a09c08","name":"アンケート1解答済み分岐","property":"kaitou","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"false","repair":false,"outputs":2,"x":1550,"y":520,"wires":[["79d56d39.05bba4"],["2ef4312d.7affee"]]},{"id":"2f12ec30.818da4","type":"mongodb3 in","z":"8c5ccb24.a09c08","service":"_ext_","configNode":"d4588e1e.30404","name":"unagi","collection":"onani","operation":"save","x":2250,"y":660,"wires":[[]]},{"id":"c0445c1b.89b89","type":"function","z":"8c5ccb24.a09c08","name":"Updateコマンド","func":"msg.payload={\n\"_id\":msg.buf1,\n\"uid\":msg.buf0,\n\"day_of_week\" : msg.buf2,\n\"sdate\":msg.buf3,\n\"edate\" : msg.buf4,\n\"dtime\" : msg.buf5,\n\"previoustime\" : msg.buf6,\n\"te\" : msg.buf7,\n\"hu\" : msg.buf8,\n\"outte\" : msg.buf9,\n\"weather\" : msg.buf10,\n\"chara\":context.global.chara,\n\"genre\":msg.genre\n}\nreturn msg;","outputs":1,"noerr":0,"x":2040,"y":660,"wires":[["2f12ec30.818da4","41ed1d88.934084"]]},{"id":"af66370e.b909e8","type":"function","z":"8c5ccb24.a09c08","name":"FINDコマンド","func":"msg.payload =\n{\n    uid: context.global.uid\n}\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":460,"wires":[["ea5418dc.4efde8"]]},{"id":"ea5418dc.4efde8","type":"mongodb3 in","z":"8c5ccb24.a09c08","service":"_ext_","configNode":"d4588e1e.30404","name":"unagi","collection":"onani","operation":"find.toArray","x":1370,"y":460,"wires":[["ef385cb9.5893f"]]},{"id":"ef385cb9.5893f","type":"function","z":"8c5ccb24.a09c08","name":"データ格納","func":"msg.buf0 = msg.payload[0]['uid'];\nmsg.buf1 = msg.payload[0]['_id'];\nmsg.buf2 = msg.payload[0]['day_of_week'];\nmsg.buf3 = msg.payload[0]['sdate'];\nmsg.buf4 = msg.payload[0]['edate'];\nmsg.buf5 = msg.payload[0]['dtime'];\nmsg.buf6 = msg.payload[0]['previoustime'];\nmsg.buf7 = msg.payload[0]['te'];\nmsg.buf8 = msg.payload[0]['hu'];\nmsg.buf9 = msg.payload[0]['outte'];\nmsg.buf10 = msg.payload[0]['weather'];\nreturn msg","outputs":1,"noerr":0,"x":1550,"y":460,"wires":[["67692fb2.55a74"]]},{"id":"41ed1d88.934084","type":"function","z":"8c5ccb24.a09c08","name":"アンケート結果ツイート","func":"msg.payload = \"おかず対象：\"+context.global.chara+\"\\nシチュエーション：\"+msg.genre+\"\\nとしてデータベースに登録しました。\"\nreturn msg;","outputs":1,"noerr":0,"x":3030,"y":580,"wires":[["90823bbe.e0cae8","8cbb1f2b.29c5b"]]},{"id":"d4588e1e.30404","type":"mongodb3","z":"","uri":"mongodb://azunyan-cluster-shard-00-00-opqbs.mongodb.net:27017,azunyan-cluster-shard-00-01-opqbs.mongodb.net:27017,azunyan-cluster-shard-00-02-opqbs.mongodb.net:27017/test?ssl=true&replicaSet=azunyan-cluster-shard-0&authSource=admin","name":"unagi","options":"","parallelism":"-1"},{"id":"1dec1995.b0ba76","type":"alexa-home-conf","z":"","username":"pitekusu"}]